body {
    font-family: Arial, sans-serif;
    background-color: #5a5555;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.menu-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    height: 200vh;
    box-shadow: 10px blue;
}

h1 {
    font-size: 4rem;
    margin-bottom: 30px;
   
    
}

h1::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: rgb(11, 11, 12);
    margin-bottom: 20px;
}

h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: rgb(11, 11, 12);
    margin-top: 20px;
}

.menu-item {
    border-bottom: 1px solid #eee;
    padding: 12px 0;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item h2 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

.menu-item p {
    margin: 5px 0;
    color: #777;
}

.menu-item span {
    font-weight: bold;
    color: #333;
}