
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #faf9f6;
  color: #333;
  line-height: 1.6
  
}

.header {
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  font-size: 1.5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1.5rem;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #fcb045;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                    url('https://images.unsplash.com/photo-1600172454533-4dd3ed6e6c41');
  background-size: cover;
  background-position: center;
  color: white;
  ;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.btn {
  background-color: #fcb045;
  color: #111;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #ff9500;
}

  padding: 3rem 2rem;
  text-align: center;
}

.products-section h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.product-card h3 {
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.events-section {
  text-align: center
